*{
    font-family: 'Playfair Display';
}

/* first section */
.navMobile{
    color: salmon;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navlist{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Second Section */

.headerMobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.newYork{
    font-style: italic;
}

.smallRes h1{
   padding: 0 0 0 0; 
   margin: 0 0 0 0;
    color: black;
}


.secondImgMobile{
    object-fit: none;
    object-position:100%;
}


.headerAboutUs{
    display: flex;
    justify-content: center;
    align-items: center;
}




@media all and (max-width: 800px){
    .containerBG, .containerAboutUs{
        display: none;
    }
    .containerNav
    
}